.input-wrap {
  .input-label {
    font-weight: 600;
    font-size: 13px;
    color: #000000;
    margin-bottom: 7px;
  }
  input,
textarea {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  &::placeholder {
    color: #ffffff
  }
  &.disabled {
    background: transparent;
    border: 1px solid #c4c4c4;
    color: #666666;
    pointer-events: none;
  }
}
}

.red-text{
  color: #f44141;
}
.cursor-pointer{
  cursor: pointer;
}